.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
}

.header ul {
    list-style-type: none;
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 1000px;
}

.second,
.third, 
.fourth,
.fifth {
    flex-grow: 1;
}

.first, 
.second {
    background-color: #1F2937;
    color: white;
}


.second .display {
    display: flex;
}

.second .display #one {
    font-size: 40px;
}